<div class="row">
    <div class="col-sm-12 col-md-8">
        <h3>Pick your start wars Captain</h3>
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" 
        [(clrDgSingleSelected)]="selectedUser">
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Height</clr-dg-column>
            <clr-dg-column>Gender</clr-dg-column>
        
            <clr-dg-row *ngFor="let person of people" [clrDgItem]="person">
                <clr-dg-cell>{{person.name}}</clr-dg-cell>
                <clr-dg-cell>{{person.height}}</clr-dg-cell>
                <clr-dg-cell>{{person.gender}}</clr-dg-cell>
            </clr-dg-row>
        
            <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} users
                <clr-dg-pagination #pagination [clrDgPageSize]="10" 
                [(clrDgPage)]= "currentPage" [clrDgTotalItems]="totalItems">
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="col-sm-12 col-md-4">
        <ng-container *ngIf="selectedUser">
        <h3>You've selected</h3>
        <div class="card">
            <div class="card-header">
                {{selectedUser.name}}
            </div>
            <div class="card-block">
                <div class="card-title">
                      
                </div>
                <div class="card-text">
                    <ul>
                        <li>Gender: {{selectedUser.gender}}</li>
                        <li>Height: {{selectedUser.height}}</li>
                        <li>Weight: {{selectedUser.mass}}</li>
                        <li>Hair Color: {{selectedUser.hair_color}}</li>
                </ul>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Action 1</button>
            </div>
        </div>
    </ng-container>
    </div>
    
</div>